# تجاهل ملف .env
.env

# تجاهل مجلدات نظام Windows
AppData/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# تجاهل ملفات نظام التشغيل
.DS_Store
Thumbs.db

# تجاهل ملفات Logs
*.log

# تجاهل مجلدات IDE
.vscode/
.idea/

# تجاهل ملفات البناء (Build Files)
dist/
build/
out/

# تجاهل ملفات npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# تجاهل ملفات الاختبارات
coverage/